@import "~bootstrap/scss/bootstrap";

body {
  background-color: white;
}

@font-face {
  font-family: 'DMMono';
  src: url("@/assets/fonts/DMMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DMMono';
  src: url("@/assets/fonts/DMMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DMMono';
  src: url("@/assets/fonts/DMMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DMMono';
  src: url("@/assets/fonts/DMMono-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DMMono';
  src: url("@/assets/fonts/DMMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMMono';
  src: url("@/assets/fonts/DMMono-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSansTC';
  src: "@assets/fonts/NotoSansTC-Thin.otf" format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: 'NotoSansTC';
  src: "@assets/fonts/NotoSansTC-Light.otf" format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSansTC';
  src: "@assets/fonts/NotoSansTC-Regular.otf" format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSansTC';
  src: "@assets/fonts/NotoSansTC-Medium.otf" format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSansTC';
  src: "@assets/fonts/NotoSansTC-Bold.otf" format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSansTC';
  src: "@assets/fonts/NotoSansTC-Black.otf" format("opentype");
  font-weight: 800;
}
